* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #ff0000, #007bff);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  padding-bottom: 50px;
  color: #00ff37;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  font-size: 50px;
  margin: auto;
}

#session, #rest {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px;
}

#session {
  background-image: linear-gradient(to right, #ff00dd, #00e7ff);
}

#rest {
  background-image: linear-gradient(to right, #b2ff00, #ff0000);
}

button {
  font-size: 20px;
  padding: 5px;
  width: 100px;
  background-color: #00ff37;
}

p:hover {
  cursor: default;
}

.change-time {     
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;        
}

@media (max-width: 720px){
  body {
    font-size: 20px;
  }

  h1 {
    padding-bottom: 10px;
  }

  #main {
    font-size: 40px;
    flex-direction: column;
  }

  #session, #rest {
    padding: 10px;
  }

  button {
    font-size: 20px;
    width: 75px;
  }
}